extends ../layout

block content
    h1.
        ID #{result._id}
    p Event Name: #{result.event_name}
    p Score Applicable: #{result.score_applicable}
    p Score 1: #{result.score_1}
    p Score 2: #{result.score_2}
    p Event Date: #{result.event_date}